.container{"data-src".to_sym => url_for({:table => "requests", :page => (@requests ? @requests.current_page : 1)})}
  = render :partial => "grant_request_list", :locals => {:@data => @requests, :@title => "Requests"}
