-eval_report = model.request_reports.where(:report_type => "Eval", :deleted_at => nil).first
.information
  %table
    %tr
      %td.eval-complete
        .float_left
          - approved = eval_report && eval_report.in_state_with_category?('approved') ? "approved" : "not-yet-approved"
          %h1{:class => approved} Final Eval Complete
      %td
        -if eval_report && eval_report.evaluation_rating
          .float_right.rating
            %h1= eval_report.evaluation_rating
            Evaluation Rating
    -if eval_report && (eval_report.grantee_performance || eval_report.what_grantee_did || eval_report.what_grantee_won)
      %tr
        %td{:colspan => 2}
          %p
          - unless eval_report.what_grantee_did.blank? && eval_report.what_grantee_won.blank?
            = simple_format(eval_report.what_grantee_did)
            = simple_format(eval_report.what_grantee_won)
          -else
            = simple_format(eval_report.grantee_performance)