- current_year = Time.now.year
- year_range = ((current_year-25)..(current_year + 2))
-initiatives = Initiative.load_all.map{ |initiative| ["#{initiative.program.name} - #{initiative.name}", initiative.id] if initiative.program }.compact.sort
- form.object.funding_year = current_year
= form.input :funding_year, :as => :select, :required => true, :include_blank => false, :collection => year_range.to_a.reverse
= form.input :initiative_id, :label => I18n.t(:initiative_name), :as => :select, :required => true, :multiple => true, :include_blank => false, :wrapper_html => {:class => 'multiple-select-transfer'}, :collection => initiatives
